.home-container{

position:relative;

}

.chat-sidebar{

position:fixed;

top:95px;

right:20px;

width:340px;

height:calc(100vh - 120px);

z-index:100;

}

@media(max-width:1200px){

.chat-sidebar{

display:none;

}

}