<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:outfit;
  scroll-behavior:smooth
}
body{
  min-height: 100vh;
}
.app{
  width: 80%;
  margin: auto;
=======
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
body{
  min-height: 100vh;
  background-color: #FCFCFC;
>>>>>>> 01607eb1f9e478d6a2b2d64152fdaf6179acf2f3
}
a{
  text-decoration: none;
  color: inherit;
}
<<<<<<< HEAD
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
=======
hr{
  border: none;
  height: 1px;
  background-color: #A9A9A9;
}
.app-content{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cursor{
  cursor: pointer;
>>>>>>> 01607eb1f9e478d6a2b2d64152fdaf6179acf2f3
}